In [3]:
import warnings

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import rcParams

# Vamos usar yfinance para carregar dados de preços de ações da B3
import yfinance as yf

rcParams["xtick.labelsize"] = 15
rcParams["ytick.labelsize"] = 15
rcParams["legend.fontsize"] = "small"

warnings.filterwarnings("ignore")

In [32]:
petr4_vale3 = pd.read_csv("./files/petr_vale.csv", parse_dates = ["Date"], index_col = "Date").dropna()

petr4_vale3.head()

                                petr       vale
Date
2023-03-01 00:00:00-03:00  19.648865  84.505526
2023-03-02 00:00:00-03:00  19.834307  84.778275
2023-03-03 00:00:00-03:00  19.888393  84.928761
2023-03-06 00:00:00-03:00  20.182006  82.671510
2023-03-07 00:00:00-03:00  19.919299  82.201251

In [52]:
# Defina o ticker do Ibovespa
ticker = '^BVSP'

ibovespa = yf.Ticker(ticker)

# Obtenha o histórico de preços do Ibovespa
ibovespa_hist = ibovespa.history(period='1y', interval='1d')
print(ibovespa_hist)
ibov = ibovespa_hist["High"].rename("ibov")
# Exiba os primeiros registros dos dados
print(ibov.head())

                               Open      High       Low     Close    Volume  \
Date
2023-03-01 00:00:00-03:00  104933.0  105497.0  103105.0  104385.0  19853000
2023-03-02 00:00:00-03:00  104375.0  104912.0  103321.0  103326.0  14738800
2023-03-03 00:00:00-03:00  103326.0  104440.0  103323.0  103866.0  13101500
2023-03-06 00:00:00-03:00  103865.0  105171.0  103170.0  104700.0  14277800
2023-03-07 00:00:00-03:00  104700.0  105179.0  103480.0  104228.0  12578200
...                             ...       ...       ...       ...       ...
2024-02-26 00:00:00-03:00  129417.0  129978.0  129077.0  129609.0   7436900
2024-02-27 00:00:00-03:00  129613.0  131696.0  129613.0  131689.0  10049000
2024-02-28 00:00:00-03:00  131685.0  131685.0  129771.0  130155.0   9045600
2024-02-29 00:00:00-03:00  130155.0  130155.0  128669.0  129020.0  12003100
2024-03-01 00:00:00-03:00  129026.0  129716.0  128717.0  129180.0   9765100

                           Dividends  Stock Splits
Date
2023-03-01 00:00:00-03:00        0.0           0.0
2023-03-02 00:00:00-03:00        0.0           0.0
2023-03-03 00:00:00-03:00        0.0           0.0
2023-03-06 00:00:00-03:00        0.0           0.0
2023-03-07 00:00:00-03:00        0.0           0.0
...                              ...           ...
2024-02-26 00:00:00-03:00        0.0           0.0
2024-02-27 00:00:00-03:00        0.0           0.0
2024-02-28 00:00:00-03:00        0.0           0.0
2024-02-29 00:00:00-03:00        0.0           0.0
2024-03-01 00:00:00-03:00        0.0           0.0

[250 rows x 7 columns]
Date
2023-03-01 00:00:00-03:00    105497.0
2023-03-02 00:00:00-03:00    104912.0
2023-03-03 00:00:00-03:00    104440.0
2023-03-06 00:00:00-03:00    105171.0
2023-03-07 00:00:00-03:00    105179.0
Name: ibov, dtype: float64

In [35]:
ibov.head()

Date
2023-03-01 00:00:00-03:00    105497.0
2023-03-02 00:00:00-03:00    104912.0
2023-03-03 00:00:00-03:00    104440.0
2023-03-06 00:00:00-03:00    105171.0
2023-03-07 00:00:00-03:00    105179.0
Name: ibov, dtype: float64

In [43]:
# Importar os dados com coluna de datas desconhecida
ibovData = pd.read_csv("./files/ibov.csv")

# Inspecionar os dtypes
ibovData.dtypes

Date     object
ibov    float64
dtype: object

In [44]:
ibovData.head()

         Date      ibov
0  01-03-2023  105497.0
1  02-03-2023  104912.0
2  03-03-2023  104440.0
3  06-03-2023  105171.0
4  07-03-2023  105179.0

In [48]:
ibovData["Date"] = pd.to_datetime(ibovData["Date"], format="%d-%m-%Y", errors="coerce")

ibovData.head()

        Date      ibov
0 2023-03-01  105497.0
1 2023-03-02  104912.0
2 2023-03-03  104440.0
3 2023-03-06  105171.0
4 2023-03-07  105179.0

In [50]:
ibovData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    250 non-null    datetime64[ns]
 1   ibov    250 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.0 KB

In [40]:
ibovData.set_index("Date", inplace=True)
print(ibovData)

                ibov
Date
2023-03-01  105497.0
2023-03-02  104912.0
2023-03-03  104440.0
2023-03-06  105171.0
2023-03-07  105179.0
...              ...
2024-02-26  129978.0
2024-02-27  131696.0
2024-02-28  131685.0
2024-02-29  130155.0
2024-03-01  129716.0

[250 rows x 1 columns]

In [51]:
ibovData.set_index("Date", inplace=True)
print(ibovData)

                ibov
Date
2023-03-01  105497.0
2023-03-02  104912.0
2023-03-03  104440.0
2023-03-06  105171.0
2023-03-07  105179.0
...              ...
2024-02-26  129978.0
2024-02-27  131696.0
2024-02-28  131685.0
2024-02-29  130155.0
2024-03-01  129716.0

[250 rows x 1 columns]